
header{
	background: #343b54;
	color: white;
	
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header h1{
	font-size: 1.2em;
	font-weight: normal;
	margin: 1em 70px 0 0;
	font-size: 20px;
}
header figure{
	float: left;
}
header #avatar{
	position: absolute;
	margin-right: 0;
	top: 0;
	right: 0;
	margin: 1em 1.5em 0 0;
}
header #logo{
	border-right: 1px solid white;

}
header #logo img{
	width: 160px;

	padding-right: 0.5em;
	margin-right: 0.5em;
	//
}
header #avatar img{
	width: 52px;
	border-radius: 52%;
}
#contenido{
	margin: 1em;
}
#contenido .item{
	background: white;
	border-bottom: 3px solid #22bce0;
	overflow: hidden;
}
#contenido .item .imagen_item{
	float: left;
	
}
#contenido .item .imagen_item img{
	width: 96px;

}